@mixin font-face($font-family, $font-weight) {
  $font-filename: "#{$font-family}-#{$font-weight}";
  $font-path: "/fonts/#{$font-family}/#{$font-filename}";

  @font-face {
    font-family: $font-family;
    font-display: swap;
    font-weight: $font-weight;
    src:
      url("#{$font-path}.woff2") format("woff2"),
      url("#{$font-path}.woff") format("woff"),
      url("#{$font-path}.ttf") format("truetype"),
      url("#{$font-path}.otf") format("opentype");
  }
}
